body {
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    //width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    margin: auto;
    grid-gap: 10px;
}

.grid-item {
    text-align: center;
    width: 150px;
    height: 150px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.card {
    width: 100%;
    height: 100%;
    background-color: aquamarine ;
    border-radius: 30% ;
}
h1 {
    text-align: center;
    font-family: Arial, monospace;
    font-weight: bolder;
    color: darkred;
}
.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    font-family: "Arial", regular, monospace;
    font-size: 24px;
    position: absolute;
    text-align: center;
}
.front {
    background: bisque;
    color: crimson;
    z-index: 1;
    backface-visibility: hidden;
}
.back {
    background: crimson;
    color: bisque;
    z-index: 0;
    transform: rotateY(180deg);
}
.grid-item:hover{
    transform: rotateY(180deg);
}
